ENV_TYPE=
DOMAIN_NAME=
FRONTEND_URL=
PORT=

DATABASE_URL=
SUPER_ADMIN_PASSWORD=

#Tokens
JWT_SECRET=

REFRESH_TOKEN_NAME=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRE_IN=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRE_IN=


COOKIE_EXPIRE_MS=

BACKEND_ROUTE=


